[flake8]
max-line-length = 120
exclude = .git,__pycache__,venv

ignore =
    E203  # Whitespace before ':'
    E266  # Too many leading '#' for block comment
    E501  # Line too long (max: 120 characters)
    W503  # Line break occurred before a binary operator